.header {
  padding: 36px 0 24px;
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #000;
}

.title {
  margin: 0 0 8px;

  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}

.subtitle {
  max-width: 400px;
  margin: 0;
}

.menu {
  padding: 0;
  display: flex;
  gap: 24px;
}

.button {
  padding: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;

  font-family: inherit;
  font-size: 16px;
  text-decoration: underline;

  transition: all 200ms ease-out;
}

.button:hover {
  opacity: .5;
}

.button_active {
  font-weight: 700;
  text-decoration: none;
}
