.asteroid {
  padding: 24px 0;
  display: grid;
  grid-template-columns: 37% 1fr 1fr;

  border: 1px solid #000;
  border-radius: 10px;
  background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);

  overflow: hidden;
}

.asteroid__space {
  grid-row: span 2;
  display: grid;
  grid-template-rows: 60% 40%;
}

.asteroid__space div {
  position: relative;
}

.asteroid__rock {
  min-width: 50px;
  max-width: 1000px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.asteroid__dino {
  width: 56px;
  height: 48px;
  position: absolute;
  bottom: -25px;
  left: 16px;
}

.asteroid__name, .asteroid__data {
  grid-column: 2;
  z-index: 1;
}

.asteroid__name {
  margin: 0;
}

.button {
  padding: 0;

  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  cursor: pointer;
  transition: all 200ms ease-out;

  font-family: inherit;
}

.button:hover {
  opacity: .5;
}

.asteroid__link {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}

.asteroid__data {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.asteroid__data-row {
  display: flex;
}

.asteroid__data-row p {
  margin: 0;
}

.asteroid__data-dots {
  width: 100%;
  border-bottom: 1px dotted #000;
}

.asteroid__data-value {
  flex-shrink: 0;
}

.asteroid__rating {
  margin-left: auto;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: span 2;
}

.asteroid__rating p:first-child {
  margin: 0;
}
.asteroid__rating-type {
  font-weight: bold;
  margin: 8px 0;
}

.asteroid__rating-button {
  padding: 14px 16px;

  background-color: #186DD6;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  transition: all 200ms ease-out;

  color: #fff;
  font-family: inherit;
  font-size: 16px;
}

.asteroid__rating-button:hover {
  opacity: .8;
}
