.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0 24px;
}

.label {
  margin-left: 6px;
}

.sort {
  display: flex;
  gap: 6px;
}

.button {
  padding: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  border-bottom: 1px solid #000;
  transition: all 200ms ease-out;
  outline: none;

  font-family: inherit;
  font-size: 16px;
}

.button:focus-visible {
  outline: auto;
}

.button:hover {
  opacity: .5;
}

.button_active {
  font-weight: 700;
  border-bottom-color: transparent;
}

.asteroids {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

