.asteroid {
  margin: 26px 0;
  padding: 24px;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 2fr;

  border: 1px solid #000;
  border-radius: 10px;

  overflow: hidden;
}

.bg_normal {
  background: linear-gradient(90deg, #CFF37D 0%, transparent 20%);
}

.bg_dangerous {
  background: linear-gradient(90deg, #FFB199 0%, transparent 20%);
}

.asteroid__rock-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.asteroid__rock {
  width: 100%;
  min-width: 50px;
  max-width: 150px;
  height: auto;
  display: block;
  margin-bottom: 48px;

  animation: rotate 20s linear infinite;
}

.asteroid__name {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}

.asteroid__data {
  margin: 0;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.asteroid__data-row {
  display: flex;
}

.asteroid__data-row p {
  margin: 0;
}

.asteroid__data-name {
  flex-shrink: 0;
}

.asteroid__data-dots {
  width: 100%;
  border-bottom: 1px dotted #000;
}

.asteroid__data-value {
  flex-shrink: 0;
}

.asteroid__details {
  margin: 0;
  padding: 0;
}

.asteroid__details-title {
  margin-bottom: 0;

  text-transform: uppercase;
  font-size: 18px;
}

.asteroid__approach {
  margin-top: 12px;
  padding: 0 12px;

  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.asteroid__approach:nth-child(odd) {
  background-color: #f3fae3;
}
